<form #f="ngForm" >
  
    <div class="form-group">
      <label for="firstname">Name:</label>
      <input type="text" required [(ngModel)]="myfirstname" minlength="3" maxlength="10" name="firstname" #firstname="ngModel"  class="form-control"
        id="firstname">
  
      <div class="alert alert-danger" *ngIf="firstname.touched && !firstname.valid">
        <div *ngIf="firstname.errors.required">Name is required</div>
        <div *ngIf="firstname.errors.minlength">Name should be min {{firstname.errors.minlength.requiredLength}} char.</div>
  </div>
    </div>

    <div class="form-group">
        <label for="Email">Email:</label>
        <input type="email" required [(ngModel)]="myemail" name="email" #email="ngModel" class="form-control"
          id="email">
    
        <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
          <div *ngIf="email.errors.required">Email is required</div>
           </div>
      </div>

    <button type="submit" class="btn btn-default" (click)="createPost()" [disabled]="!f.valid">Submit</button>
 </form>


 <div>
    <ul class="list-group">
        <li *ngFor="let test of tests" class="list-group-item">
          {{test.myfirstname}}  
          {{test.myemail}}
         <button  class="btn btn-danger btn-sm" (click)="removePost(test)">Delete</button>
       </li>
          </ul> 
   </div>
