
  <div class="todos">

    <div>
    <form (submit)="addTodo($event)">
    <input [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" class="textfield" name="newTodo">
      <button  type="submit" [disabled]="newTodo===''">Add</button>
    </form>
    </div>

   
    <ul>
    <li *ngFor="let todo of todos; let i=index">
      <!-- <input type="checkbox" class="checkbox" [(ngModel)]="todo.completed" /> -->
  {{ todo.newTodo }}
    <span (click)="deleteTodo(i)" class="delete-icon">X</span>
      </li>
      </ul>

      <!-- <div class="mtop20">
    <button (click)="deleteSelectedTodos()">Delete Selected</button>
    </div>
   -->
</div>
